*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

.first, .left-side, .second, .card, .third{
    flex-direction: column;
}

.font {
    font-family: 'Roboto';
}

.flex {
    display: flex;
}

.first {
    background-color: #1F2937;
}

.center-page {
    padding-right: 250px;
    padding-left: 250px;
    margin-bottom: 15px;
}

.header {
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

.secondary-text {
    text-align: justify;
    font-size: 18px;
    color: #E5E7EB;
}

#header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

#first-container-caption {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.left-side {
    gap: 10px;
}

.content {
    flex: 1;
    align-items: center;
    padding: 30px 0;
    gap: 50px;
}

.img-gt7 {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.btn-see-more {
    border: 0;
    background-color: #3882F6;
}

.btn-see-more, .button-click-here{
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 15px;
}

.btn-see-more:hover, .button-click-here:hover {
    background-color: #204c92;
}

.info-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.second {
    padding-top: 15px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.number {
    text-align: center;
    border-radius: 10px;
    padding: 30px 50px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 70px;
}

.cards {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
}

.card {
    flex:1;
    justify-content: space-between;
    gap: 10px;
}

.card-text {
    flex: 1;
    color: dark; text-align: center;
}

.third {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E5E7EB;
    justify-content: space-between;
    gap: 10px;
}

.quote-text {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.author {
    justify-content: flex-end;
    color: #1F2937;
    font-weight: 900;
    font-size: 25px;
}

.fourth {
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.blue-container {
    width: 100%;
    padding: 50px;
    background-color: #3882F6;
    border-radius: 15px;
    justify-content: space-around;
    gap: 25px;
    align-items: center;
}

.title-container {
    color: white;
    font-size: 25px;
    font-weight: 900;
}

.button-click-here {
    background-color: transparent;
    border: 2px solid white;
}


